*,
*::before,
*::after {
  box-sizing: border-box;
}

rrr {
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1, 5;
}

/* Стилі для обнулення відступів у елементів */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* обнулення базових властивостей списків (ul) */
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
/* обнулення базових властивостей у посилань */
a {
  text-decoration: none;
}
/* Властивості для коректного відображення картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Властивості для обнулення курсиву address */
address {
  font-style: normal;
}

button {
  cursor: pointer;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/*!===============Header=====================*/
.header {
  background-color: E7E9FC;
  border-bottom: 1px solid #17c063;
  display: flex;
  max-width: 1440px;
  height: 110px;
  margin: 0 auto;
  flex-direction: row;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: linear-gradient(#1bacf0, #acd8e9 35% 55%);
}

.header-container {
  display: flex;
  margin: 0 auto;
  padding: 0 15px 0 15px;
  width: 1158px;
}

.header-container-nav-adres {
  display: flex;
  width: 1158px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 25px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
  margin-right: 15px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navig a:hover,
.navig a:focus {
  color: #d0fc0c;
  border: 1px solid rgb(196, 247, 11);
}

.navig {
  display: flex;
  align-items: center;
  flex-grow: 1;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navig-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-contact-list {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 24px 0;
}

.logo-web-h {
  font-weight: 800;
  font-size: 25px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #2e2f42;
  text-transform: uppercase;
}
.logo-web {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #f4f4fd;
  text-transform: uppercase;
}

.address {
  font-style: normal;
  display: flex;
}

.address-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 10px;
}

.address-link:hover,
.address-link:focus {
  color: #da4011;
}

.page-nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #df1b0d;
  padding: 24px 0;
  display: block;
  position: relative;
}

.page-nav-oen {
  color: #7beee8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  text-shadow: 3px 3px 2px rgba(247, 14, 150, 0.55);
}

.page-nav-link-dobriva {
  background-image: url(../images/dobriva.jpg);
  border-radius: 8px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 2px auto;
  width: 200px;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  text-shadow: 4px 4px 4px rgba(19, 18, 18, 0.884);
}

.page-nav-link-nas {
  background-image: url(../images/soya-nas.jpg);
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 2px auto;
  width: 200px;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  text-shadow: 4px 4px 4px rgba(19, 18, 18, 0.884);
}

.page-nav-link-zzr {
  background-image: url(../images/dron2.jfif);
  border-radius: 8px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 2px auto;
  width: 230px;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  text-shadow: 4px 4px 4px rgba(19, 18, 18, 0.884);
}

/*===============Section 1 ===================== */

.section {
  max-width: 1440px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.section-oen {
  max-width: 1440px;
  background: #2e2f42;
  padding: 100px 0;
  background-image: url(../images/soyagrine1.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  margin: 0 auto;
  background-color: #0a4b04;
}

.effective {
}

.page-title111 {
  display: block;
  font-family: "Pacifico" sans-serif;
  font-weight: bold;
  font-size: 50px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: hsl(64, 90%, 51%);
  align-items: center;
  margin: 0 auto;
  align-content: center;
  text-transform: uppercase;
  text-shadow: 4px 4px 4px rgba(247, 16, 8, 0.884);
}

.butt {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #1840f1;
  padding: 16px, 32px, 16px, 32px;
  border-radius: 20px;

  min-width: 169px;
  height: 56px;
  border: none;
  margin: 0 auto;
  display: block;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.butt:hover,
.butt:focus {
  color: #fff;
  background-color: #117504;
}
.butt:active {
  color: #fff;
  background-color: #f1091d;
}

.smalltalk {
  font-size: 38px;
  align-items: center;
  text-align: justify;
  color: #fcfeff;
  text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.884);
  padding: 30px;
  text-indent: 25px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.logo-rrxtend {
  color: #ffeb3b;
  text-shadow: 6px 6px 6px rgba(151, 4, 4, 0.884);
  text-transform: uppercase;
}

.sistem-rr2x-bord {
  max-width: 1440px;
  height: 250px;
}

.sistem-rr2x-list {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}

.sistem-rr2x-item-first {
  object-fit: fill;
  max-width: 390px;
  position: sticky;
}
.sistem-rr2x-item {
  max-width: 420px;
}

.sistem-rr2x-item-last {
}

/*===============Section 2 ===================== */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-two {
  max-width: 1440px;
  height: 600px;

  padding: 8px 0;
  background-image: url(../images/soya3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.section-two-block-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  gap: 50px;
  list-style: none;
  border: #1bacf0;
  padding: 5px;
}

.section-two-item {
  width: calc((100% - 3 * 24px) / 3);
  justify-content: center;
  flex-direction: column;
  outline: 2px solid white;
}

.section-two-items-text {
  flex-grow: 3;
  margin-left: auto;
}

.section-two-text {
  font-family: "Pattaya" sans-serif;

  font-size: 30px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: justify;
  color: #f0f0f3;
  text-indent: 24px;
  text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.984);
}

.section-two-h-oen {
  display: block;
  align-items: flex-start;
  font-family: "Rubik Beastly", serif;
  font-size: 40px;
  font-weight: 400;
  font-style: italic;
  color: #04612e;
  font: Roboto;
  margin-top: 0;
  flex-grow: 3;
}

.rr2x-icon {
  width: 300px;
  align-items: flex-start;
  margin-top: 70px;
}

.logo-rr2x {
}

.box {
  width: 150px;
  height: 150px;

  border: 5px solid #f44336;
  padding: 30px;
  margin: 40px;
  background-color: #ffeb3b;
}
.box:hover {
  border-color: cyan;
}

/* =================section-three=================================*/

.section-three {
  max-width: 1440px;
  padding: 8px 0;
  /*background-image: url(../images/soyagrine1.jpg); */
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  margin: 0 auto;
}

.section-three-block-list {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.section-three-items-foto {
  width: 900px;
}
.section-three-items {
}

/* =================section-three=================================*/

.benefits {
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: space-between;
  align-content: flex-end;
}

.benefits .item {
  width: calc((100% - 32px) / 3);
}

.item {
  border: 2px solid rgb(245, 5, 5);
}

.wrap {
  display: flex;
  width: 800px;
  height: 600px;
  margin: 0 auto;
  outline: 2px solid #2e2f42;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  gap: 5px;
}
.block {
  width: 150px;
  height: 150px;
  color: #acd8e9;
  border: 2px solid rgb(245, 5, 5);
  width: calc((100% - 10px * 4) / 3);
}
.first {
  background-color: #22d60a;
}
.second {
  background-color: chocolate;
  flex-grow: 3;
}
.thirdht {
  background-color: aqua;
}

.forth {
  background-color: #f1091d;
  flex-grow: 5;
}
